<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<ul>
				<li v-for="(item,index) in arr">
					{{index+1}}{{item}}
				</li>
				<li v-for="item in veg" v-bind:title="item.name">
					{{item.name}}
				</li>
			</ul>
			v-model:双向数据绑定
			<input v-model="mes" @keyup.enter="doit">
			<p>{{mes}}</p>
			
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			var app = new Vue({
				el:"#app",
				data:{
					arr:['a','b','c'],
					veg:[
						{name:"11"},
						{name:"22"}
					],
					mes:"hhh"
				},
				methods:{
					doit:function(){
						console.log(this.mes)
					}
				}
			})
			
		</script>
	</body>
</html>
